@import 'variables';
@import 'functions';
@import 'mixins';
@import 'components';
@import 'pages';
@import 'ant-reset';
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  background: var(--background) !important;

  h2 {
    color: var(--opposite-t9);
  }
}

*:not(.material-icons) {
  font-family: 'Vazirmatn', sans-serif;
}

.material-icons {
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Theme
:root {
  /* Your default theme */
  --background: #ffffff;
  --foreground: rgb(15, 12, 8);
  --main: #9880fa;
  --hover-main: #a58fff;
  --input: rgb(232, 232, 232);
  --input-color: rgb(66, 66, 66);
  --main-t05: rgba(152, 128, 250, 0.05);
  --main-t1: rgba(152, 128, 250, 0.1);
  --main-t2: rgba(152, 128, 250, 0.2);
  --main-t3: rgba(152, 128, 250, 0.3);
  --main-t4: rgba(152, 128, 250, 0.4);
  --main-t5: rgba(152, 128, 250, 0.5);
  --main-t6: rgba(152, 128, 250, 0.6);
  --main-t7: rgba(152, 128, 250, 0.7);
  --main-t8: rgba(152, 128, 250, 0.8);
  --main-t9: rgba(152, 128, 250, 0.9);
  --positive-t05: rgba(255, 255, 255, 0.05);
  --positive-t1: rgba(255, 255, 255, 0.1);
  --positive-t2: rgba(255, 255, 255, 0.2);
  --positive-t3: rgba(255, 255, 255, 0.3);
  --positive-t4: rgba(255, 255, 255, 0.4);
  --positive-t5: rgba(255, 255, 255, 0.5);
  --positive-t6: rgba(255, 255, 255, 0.6);
  --positive-t7: rgba(255, 255, 255, 0.7);
  --positive-t8: rgba(255, 255, 255, 0.8);
  --positive-t9: rgba(255, 255, 255, 0.9);
  --positive: white;
  --negative-t05: rgba(0, 0, 0, 0.05);
  --negative-t1: rgba(0, 0, 0, 0.1);
  --negative-t2: rgba(0, 0, 0, 0.2);
  --negative-t3: rgba(0, 0, 0, 0.3);
  --negative-t4: rgba(0, 0, 0, 0.4);
  --negative-t5: rgba(0, 0, 0, 0.5);
  --negative-t6: rgba(0, 0, 0, 0.6);
  --negative-t7: rgba(0, 0, 0, 0.7);
  --negative-t8: rgba(0, 0, 0, 0.8);
  --negative-t9: rgba(0, 0, 0, 0.9);
  --negative: black;
}

[data-theme='dark'] {
  --background: rgb(10, 10, 15);
  --foreground: rgb(232, 232, 232);
  --main: #7556fc;
  --hover-main: #5c33ff;
  --input: rgb(66, 66, 66);
  --input-color: rgb(232, 232, 232);
  --main-t05: rgba(117, 86, 252, 0.05);
  --main-t1: rgba(117, 86, 252, 0.1);
  --main-t2: rgba(117, 86, 252, 0.2);
  --main-t3: rgba(117, 86, 252, 0.3);
  --main-t4: rgba(117, 86, 252, 0.4);
  --main-t5: rgba(117, 86, 252, 0.5);
  --main-t6: rgba(117, 86, 252, 0.6);
  --main-t7: rgba(117, 86, 252, 0.7);
  --main-t8: rgba(117, 86, 252, 0.8);
  --main-t9: rgba(117, 86, 252, 0.9);
  --positive-t05: rgba(0, 0, 0, 0.05);
  --positive-t1: rgba(0, 0, 0, 0.1);
  --positive-t2: rgba(0, 0, 0, 0.2);
  --positive-t3: rgba(0, 0, 0, 0.3);
  --positive-t4: rgba(0, 0, 0, 0.4);
  --positive-t5: rgba(0, 0, 0, 0.5);
  --positive-t6: rgba(0, 0, 0, 0.6);
  --positive-t7: rgba(0, 0, 0, 0.7);
  --positive-t8: rgba(0, 0, 0, 0.8);
  --positive-t9: rgba(0, 0, 0, 0.9);
  --positive: black;
  --negative-t05: rgba(255, 255, 255, 0.05);
  --negative-t1: rgba(255, 255, 255, 0.1);
  --negative-t2: rgba(255, 255, 255, 0.2);
  --negative-t3: rgba(255, 255, 255, 0.3);
  --negative-t4: rgba(255, 255, 255, 0.4);
  --negative-t5: rgba(255, 255, 255, 0.5);
  --negative-t6: rgba(255, 255, 255, 0.6);
  --negative-t7: rgba(255, 255, 255, 0.7);
  --negative-t8: rgba(255, 255, 255, 0.8);
  --negative-t9: rgba(255, 255, 255, 0.9);
  --negative: white;
}